[user]
	name = Github User
	email = mail@gmail.com
[color]
    branch = true
    interactive = auto
    diff = auto
    status = auto
    ui = always
[mergetool]
    prompt = false
    keepBackup = false
[core]
    editor = vim
    ignorecase = false
[alias]
    co = checkout
    ci = commit -S
    commit = commit -s
    st = status
    br = branch
    amend = commit --amend
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    last = log -n 1
    cp = cherry-pick
    cm = commit -m
    lognm = log --no-merges -n
    cob = checkout -b
    colast = checkout -
    lastcommit = rev-list --max-parents=0 HEAD
    logs = log --show-signature
    sync = !git fetch origin master:master && git merge master
    syncb = !git fecth $1:$1 && git merge $1
[commit]
	gpgsign = true
[tag]
	forceSignAnnotated = true
[url "git@github.com:"]
	insteadOf = https://github.com/

