*.class
*.log

.cache
.history
.lib/

.DS_Store
node_modules
dist/
.npm/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Maven files
/target/
artifact-id
release.properties
pom.xml.releaseBackup
pom.xml.tag

# Editor directories and files
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# STS
.apt_generated
.classpath
.factorypath
.project
.settings

# Compiled Python files
*.pyc

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
