[user]
	name = Github User
	email = mail@gmail.com
[color]
    branch = true
    interactive = auto
    diff = auto
    status = auto
    ui = always
[mergetool]
    prompt = false
    keepBackup = false
[core]
    editor = vim
    autocrlf = true
    ignorecase = false
[merge]
    tool = meld
[alias]
    co = checkout
    ci = commit -S
    commit = commit -s
    st = status
    br = branch
    amend = commit --amend
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    last = log -n 1
    cp = cherry-pick
    cm = commit -m
    lognm = log --no-merges -n
    cob = checkout -b
    lastcommit = rev-list --max-parents=0 HEAD
    logs = log --show-signature
[commit]
    gpgsign = true
